<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path Grabber</title>
    <style>
        body {
            background-color: #fad9a9;
        }

        label {
            font-size: 18px;
            font-family: "Roboto", sans-serif;
        }

        input {
            border-radius: 15%;
            border: 2px solid black;
            margin-top: 10px;
        }

        #credits {
            color: #5F6368;
        }

        #tutorial {
            margin-top: 20px;
            background-color: white;
            border: 2px solid black;
        }
    </style>
</head>
<body>
<div>
    <label for="pathParam">Path parameter to grab:</label>
    <input type="text" id="pathParam" name="pathParam">
    <br/>
    <div id="tutorial">
        <h4>Tutorial:</h4>
        The parameter that you enter on the top will be clipped if you press right click on a link and click this
        applications item field in the context menu.
    </div>
</div>
<br/>
<div id="credits">
    Extension by Flamestro
    <br/>
    <br/>
    Icons by Kiranshastry from www.flaticon.com
</div>
<script src="../popup.js"></script>
</body>
</html>